{% extends "blog/base.html"  %}
{% load static %}
{% block title %} {{post.title}} {% endblock %}

{% block content %}
<section class="container mx-auto ">
    <div class="mx-40">  
       

        <h1>Post Confirm Delete</h1>

        <form method="post">{% csrf_token %}
            <p>Are you sure you want to delete "{{ post }}"?</p>
            <input type="submit" value="Confirm">
        </form>
        
        <p>
            <a href="{% url 'blog:post_detail' post.slug %}">Cancel</a>
        </p>

</div>

</section>

{% endblock content %}